


// Font color
$font-color: #0F1419


$link: rgb(27, 149, 224)

$search-box-background: rgb(239, 243, 244)
$search-box-font-color: #536471

$footer-link-font-color: #536471

// Colors
$twitter-blue: #1DA1F2
$twitter-purple: rgb(121, 75, 196)

$twitter-purple-hover: rgba(121, 75, 196, 0.1)

$hover-state-bg-1: #f7f9f9

$bac2: rgb(239, 243, 244)

$transition-duration: .2s

$accent-blue: rgb(29, 161, 242)
$accent-blue-translucent: rgba(29, 161, 242, 0.1)

$accent-green: rgb(23, 191, 99)
$accent-green-translucent: rgba(23, 191, 99, .1)

$accent-red: rgb(224, 36, 94)
$accent-red-translucent: rgba(224, 36, 94, .1)

$font-default-v2: rgb(15, 20, 15)

$background-gray-hover: rgba(15, 20, 15, 0.1)

$post-action-color: rgb(83, 100, 113)

$latest-accent-red: rgb(244, 33, 46)